<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Renter</title>
</head>
<body>


<h2>List Renter</h2>

{% for object in object_list %}
<table>
    <tr>

        <td>
            <a href="{{ object.get_absolute_url }}">{{ object.name_organization }}</a>

        </td>
    </tr>
    <tr>
        <td>{{ object.phone }}</td>
    </tr>
    <tr>
        <td>{{ object.type_of_tractor }}</td>
    </tr>
    {% endfor %}

</table>


</body>
</html>