<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Renter</title>
</head>
<body>


<h2>List Renter</h2>

{% for object in object_list %}
<table>
    <tr>

        <td>
            <a href="{{ object.get_absolute_url }}">{{ object.name_organization }}</a>

        </td>
    </tr>
    <tr>
        <td>{{ object.phone }}</td>
    </tr>
    <tr>
        <td>{{ object.type_of_tractor }}</td>
    </tr>
    {% endfor %}

</table>
<div>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">

        <script type="text/javascript" src="{% static 'js_scripts/scripts_message.js' %}">
        </script>

    </div>

</body>
</html>